.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-600);
  height: 148px;
}
.about,
.contact,
.privacyPolicy,
.termsOfUse {
  position: absolute;
  top: 24.81px;
  left: calc(50% - 33px);
  display: inline-block;
  width: 47px;
}
.about,
.privacyPolicy,
.termsOfUse {
  top: 74.81px;
  left: calc(50% - 46px);
  width: 72px;
}
.about,
.privacyPolicy {
  top: -0.19px;
  left: calc(50% - 28px);
  width: 37px;
}
.privacyPolicy {
  top: 49.81px;
  left: calc(50% - 51px);
  font-size: var(--font-size-xs);
  width: 82px;
}
.frame1 {
  position: absolute;
  width: 28.98%;
  top: calc(50% - 50px);
  right: 71.02%;
  left: 0;
  height: 100px;
}
.copyright2022 {
  position: absolute;
  width: 54.55%;
  top: calc(50% - 9.19px);
  left: 45.45%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  display: inline-block;
}
.frame {
  width: 88%;
  top: 24.19px;
  right: 6%;
  left: 6%;
  height: 100px;
}
.footer,
.frame,
.search {
  position: absolute;
}
.footer {
  width: 100%;
  top: 768px;
  right: 0;
  left: 0;
  height: 148px;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-200);
}
.search {
  top: 12px;
  left: 24px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 280px;
  height: 45px;
}
.search1 {
  position: absolute;
  top: 26px;
  left: 136px;
  display: inline-block;
  width: 57px;
  height: 20px;
}
.noItemsAre,
.searchParent {
  position: absolute;
  top: 94px;
  left: 71px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.searchParent {
  top: 421px;
  left: 40px;
  width: 328px;
  height: 141px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.frameChild {
  position: absolute;
  top: 52px;
  left: 60px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue-100);
  width: 182px;
  height: 42px;
  cursor: pointer;
}
.generatedLink,
.yourMenuIs {
  position: absolute;
  top: 0;
  left: 38px;
}
.generatedLink {
  top: 22px;
  left: 82px;
  color: var(--color-mediumslateblue-100);
  cursor: pointer;
}
.menuQrCode {
  position: absolute;
  top: 62px;
  left: 82px;
  color: var(--color-white);
}
.rectangleParent {
  position: absolute;
  top: 314px;
  left: 47px;
  width: 314px;
  height: 98px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.frameItem {
  position: absolute;
  top: 127.25px;
  left: 21.25px;
  border-top: 1.5px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 308.5px;
  height: 1.5px;
}
.frameInner {
  position: absolute;
  top: 64px;
  left: 90px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-100);
  width: 162px;
  height: 41px;
  cursor: pointer;
}
.mainMenu {
  position: absolute;
  top: 16px;
  left: 12px;
  font-weight: 600;
  display: inline-block;
  width: 180px;
  height: 30px;
}
.publish {
  position: absolute;
  top: 22px;
  left: 218px;
  font-size: var(--font-size-mini);
}
.rectangleDiv {
  position: absolute;
  top: 15px;
  left: 280px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 63px;
  height: 31px;
  cursor: pointer;
}
.ellipseDiv {
  position: absolute;
  top: 21px;
  left: 311px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 21px;
  height: 18px;
}
.plusCircle1Icon {
  position: absolute;
  top: 71px;
  left: 206px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.addFood {
  position: absolute;
  top: 73px;
  left: 106px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.lineParent {
  position: absolute;
  top: 167px;
  left: 32px;
  width: 353px;
  height: 128px;
  overflow: hidden;
  font-size: var(--font-size-6xl);
}
.myMenu,
.myMenuParent,
.orders {
  position: absolute;
  top: 11px;
  left: 65px;
}
.myMenuParent,
.orders {
  left: 266px;
}
.myMenuParent {
  top: 133px;
  left: 25px;
  width: 357px;
  height: 37px;
  overflow: hidden;
}
.profile1Icon,
.userName {
  position: absolute;
  top: 15px;
}
.profile1Icon {
  left: 50px;
  width: 29px;
  height: 35px;
  object-fit: cover;
}
.userName {
  left: 79px;
  display: inline-block;
  width: 82px;
  height: 23px;
}
.signOut {
  position: absolute;
  top: 33px;
  left: 90px;
  color: var(--color-red);
}
.frame2 {
  position: absolute;
  width: 39.5%;
  top: calc(50% - 39.5px);
  right: 4.5%;
  left: 56%;
  height: 82px;
}
.setmenuBlacklogo1Icon {
  position: absolute;
  top: 22px;
  left: 25px;
  width: 100px;
  height: 105.21px;
  object-fit: cover;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 127px;
}
.mymenuPublish {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 916px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
