.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 4286px;
}
.imageIcon {
  position: absolute;
  width: 30%;
  top: 30px;
  right: 62.5%;
  left: 7.5%;
  max-width: 100%;
  overflow: hidden;
  height: 120px;
  object-fit: cover;
}
.privacyPolicy1,
.privacyPolicyFor {
  position: absolute;
  display: inline-block;
}
.privacyPolicy1 {
  top: calc(50% - 1472.5px);
  left: calc(50% - 131px);
  font-size: var(--font-size-17xl);
  line-height: 32.4px;
  color: var(--color-white);
  width: 263px;
}
.privacyPolicyFor {
  top: calc(50% - 1288.5px);
  left: calc(50% - 157px);
  font-size: var(--font-size-4xl);
  width: 315px;
}
.collectionOfPersonal,
.useOfPersonal {
  position: absolute;
  top: calc(50% - 1143.5px);
  left: calc(50% - 128px);
  display: inline-block;
  width: 257px;
}
.useOfPersonal {
  top: calc(50% - 824.5px);
  left: calc(50% - 166px);
  font-size: var(--font-size-4xl);
  width: 333px;
}
.setmenuMayShare,
.toProcessAnd {
  position: absolute;
  top: calc(50% - 679.5px);
  left: calc(50% - 187px);
  display: inline-block;
  width: 375px;
}
.setmenuMayShare {
  top: calc(50% - 331.5px);
  left: calc(50% - 177px);
  width: 355px;
}
.setmenuTakesReasonable {
  top: calc(50% + 16.5px);
  left: calc(50% - 177px);
  width: 355px;
}
.cookies,
.setmenuTakesReasonable,
.usersCanDisable {
  position: absolute;
  display: inline-block;
}
.cookies {
  top: calc(50% + 538.5px);
  left: calc(50% - 46px);
  font-size: var(--font-size-4xl);
  width: 93px;
}
.usersCanDisable {
  top: calc(50% + 799.5px);
  left: calc(50% - 176px);
  width: 353px;
}
.ifYouHave,
.setmenuReservesThe,
.sureHereIs {
  position: absolute;
  top: calc(50% + 1002.5px);
  left: calc(50% - 179px);
  display: inline-block;
  width: 359px;
}
.ifYouHave,
.sureHereIs {
  top: calc(50% + 1292.5px);
  left: calc(50% - 186px);
  width: 372px;
}
.sureHereIs {
  top: calc(50% - 1404.5px);
  left: calc(50% - 173px);
  width: 347px;
}
.setmenuCollectsPersonal,
.sharingOfPersonal {
  position: absolute;
  top: calc(50% - 1085.5px);
  left: calc(50% - 185px);
  display: inline-block;
  width: 371px;
}
.sharingOfPersonal {
  top: calc(50% - 389.5px);
  left: calc(50% - 116px);
  font-size: var(--font-size-4xl);
  width: 232px;
}
.changesToThis,
.howeverSetmenuCannot,
.thisPrivacyPolicy {
  position: absolute;
  top: calc(50% + 190.5px);
  left: calc(50% - 186px);
  display: inline-block;
  width: 373px;
}
.changesToThis,
.thisPrivacyPolicy {
  top: calc(50% + 973.5px);
  left: calc(50% - 180px);
  font-size: var(--font-size-4xl);
  width: 361px;
}
.thisPrivacyPolicy {
  top: calc(50% - 1259.5px);
  left: calc(50% - 176px);
  width: 353px;
}
.contactUs,
.toProcessAnd1 {
  position: absolute;
  top: calc(50% - 244.5px);
  left: calc(50% - 181px);
  display: inline-block;
  width: 362px;
}
.contactUs {
  top: calc(50% + 1263.5px);
  left: calc(50% - 65px);
  font-size: var(--font-size-4xl);
  width: 131px;
}
.setmenuUsesCookies,
.setmenuUsesThe {
  position: absolute;
  top: calc(50% - 795.5px);
  left: calc(50% - 161px);
  display: inline-block;
  width: 322px;
}
.setmenuUsesCookies {
  top: calc(50% + 567.5px);
  left: calc(50% - 182px);
  width: 365px;
}
.frame2 {
  position: absolute;
  width: 94%;
  top: 180px;
  right: 3%;
  left: 3%;
  height: 2933px;
}
.frame1,
.rectangle1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 4286px;
}
.rectangle1 {
  background-color: var(--color-gray-600);
  height: 148px;
}
.about,
.contact,
.privacyPolicy2,
.termsOfUse {
  position: absolute;
  top: 24.81px;
  left: calc(50% - 33px);
  display: inline-block;
  width: 47px;
}
.about,
.privacyPolicy2,
.termsOfUse {
  top: 74.81px;
  left: calc(50% - 46px);
  width: 72px;
}
.about,
.privacyPolicy2 {
  top: -0.19px;
  left: calc(50% - 28px);
  width: 37px;
}
.privacyPolicy2 {
  top: 49.81px;
  left: calc(50% - 51px);
  font-size: var(--font-size-xs);
  width: 82px;
}
.frame5 {
  position: absolute;
  width: 28.98%;
  top: calc(50% - 50px);
  right: 71.02%;
  left: 0;
  height: 100px;
}
.copyright2022 {
  position: absolute;
  width: 54.55%;
  top: calc(50% - 9.19px);
  left: 45.45%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  display: inline-block;
}
.frame4 {
  position: absolute;
  width: 88%;
  top: 24.19px;
  right: 6%;
  left: 6%;
  height: 100px;
}
.frame,
.frame3,
.rectangle2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame3 {
  top: 4286px;
  height: 148px;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-200);
}
.frame,
.rectangle2 {
  top: 0;
  height: 4434.19px;
}
.rectangle2 {
  width: 0.25%;
  top: -3734px;
  right: 99.75%;
  height: 1px;
}
.privacyPolicy {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4434px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-silver-100);
  font-family: var(--font-montserrat);
}
