.rectangle {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 3681px;
}
.imageIcon {
  position: absolute;
  width: 30%;
  top: 30px;
  right: 62.5%;
  left: 7.5%;
  max-width: 100%;
  overflow: hidden;
  height: 120px;
  object-fit: cover;
}
.termsAndConditions1 {
  position: absolute;
  top: calc(50% - 1256.5px);
  left: calc(50% - 101px);
  font-size: var(--font-size-17xl);
  line-height: 32.4px;
  color: var(--color-white);
  display: inline-block;
  width: 203px;
}
.theSiteIs,
.thisWebsiteLocated {
  position: absolute;
  top: calc(50% - 1098.5px);
  left: calc(50% - 186px);
  display: inline-block;
  width: 372px;
}
.theSiteIs {
  top: calc(50% - 750.5px);
  left: calc(50% - 178px);
  width: 356px;
}
.allContentOn,
.ourPrivacyPolicy,
.theSiteMay {
  position: absolute;
  top: calc(50% - 489.5px);
  left: calc(50% - 180px);
  display: inline-block;
  width: 361px;
}
.ourPrivacyPolicy,
.theSiteMay {
  top: calc(50% - 141.5px);
  left: calc(50% - 187px);
  width: 374px;
}
.ourPrivacyPolicy {
  top: calc(50% + 177.5px);
  left: calc(50% - 185px);
  width: 370px;
}
.ifYouHave,
.setmenuReservesThe,
.setmenuReservesThe1 {
  position: absolute;
  top: calc(50% + 496.5px);
  left: calc(50% - 186px);
  display: inline-block;
  width: 372px;
}
.ifYouHave,
.setmenuReservesThe1 {
  top: calc(50% + 728.5px);
  left: calc(50% - 184px);
  width: 369px;
}
.ifYouHave {
  top: calc(50% + 1134.5px);
  left: calc(50% - 186px);
  font-size: var(--font-size-4xl);
  width: 372px;
}
.intellectualProperty,
.privacyPolicy,
.termsAndConditions2 {
  position: absolute;
  top: calc(50% - 1156.5px);
  left: calc(50% - 151px);
  display: inline-block;
  width: 302px;
}
.intellectualProperty,
.privacyPolicy {
  top: calc(50% - 518.5px);
  left: calc(50% - 120px);
  font-size: var(--font-size-4xl);
  width: 240px;
}
.privacyPolicy {
  top: calc(50% + 148.5px);
  left: calc(50% - 81px);
  width: 162px;
}
.changesToThese,
.useOfThe {
  position: absolute;
  top: calc(50% + 699.5px);
  left: calc(50% - 147px);
  display: inline-block;
  width: 295px;
}
.useOfThe {
  top: calc(50% - 779.5px);
  left: calc(50% - 86px);
  width: 173px;
}
.contactUs,
.linksToOther,
.terminationOfUse {
  position: absolute;
  top: calc(50% + 467.5px);
  left: calc(50% - 114px);
  display: inline-block;
  width: 229px;
}
.contactUs,
.linksToOther {
  top: calc(50% - 170.5px);
  left: calc(50% - 143px);
  width: 287px;
}
.contactUs {
  top: calc(50% + 1105.5px);
  left: calc(50% - 65px);
  font-size: var(--font-size-4xl);
  width: 131px;
}
.frame2 {
  position: absolute;
  width: 94%;
  top: 180px;
  right: 3%;
  left: 3%;
  height: 2501px;
}
.frame1,
.rectangle1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 3681px;
}
.rectangle1 {
  background-color: var(--color-gray-600);
  height: 148px;
}
.about,
.contact,
.privacyPolicy1,
.termsOfUse {
  position: absolute;
  top: 24.61px;
  left: calc(50% - 33px);
  display: inline-block;
  width: 47px;
}
.about,
.privacyPolicy1,
.termsOfUse {
  top: 74.61px;
  left: calc(50% - 46px);
  width: 72px;
}
.about,
.privacyPolicy1 {
  top: -0.39px;
  left: calc(50% - 28px);
  width: 37px;
}
.privacyPolicy1 {
  top: 49.61px;
  left: calc(50% - 51px);
  font-size: var(--font-size-xs);
  width: 82px;
}
.frame5 {
  position: absolute;
  width: 28.98%;
  top: calc(50% - 50px);
  right: 71.02%;
  left: 0;
  height: 100px;
}
.copyright2022 {
  position: absolute;
  width: 54.55%;
  top: calc(50% - 9.39px);
  left: 45.45%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  display: inline-block;
}
.frame4 {
  position: absolute;
  width: 88%;
  top: 24.39px;
  right: 6%;
  left: 6%;
  height: 100px;
}
.frame,
.frame3,
.rectangle2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame3 {
  top: 3681px;
  height: 148px;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-200);
}
.frame,
.rectangle2 {
  top: 0;
  height: 3829.39px;
}
.rectangle2 {
  width: 0.25%;
  top: -3108px;
  right: 99.75%;
  height: 1px;
}
.termsAndConditions {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3829px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-silver-100);
  font-family: var(--font-montserrat);
}
