@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-2xs: 11px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-4xl: 23px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue-100: #6082b6;
  --color-steelblue-200: rgba(96, 130, 182, 0.45);
  --color-steelblue-300: rgba(96, 130, 182, 0.47);
  --color-silver-100: #b5b5b5;
  --color-black: #000;
  --color-dimgray: #727272;
  --color-darkslategray-100: #383838;
  --color-darkslategray-200: #333;
  --color-papayawhip: #ffefd5;
  --color-red: #ed0000;
  --color-gray-100: #808080;
  --color-gray-200: rgba(255, 255, 255, 0.47);
  --color-gray-300: rgba(255, 255, 255, 0.58);
  --color-gray-400: rgba(255, 255, 255, 0.49);
  --color-gray-500: rgba(255, 255, 255, 0.28);
  --color-gray-600: rgba(255, 255, 255, 0.78);
  --color-whitesmoke: #e9e9e9;
  --color-mediumslateblue-100: #5956ff;
  --color-mediumslateblue-200: rgba(89, 86, 255, 0.65);
  --color-lightskyblue-100: #95bfff;
  --color-lightskyblue-200: rgba(149, 191, 255, 0.54);
  --color-orangered: #ff4b2b;

  /* border radiuses */
  --br-6xl: 25px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-mini: 15px;
}
